
button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--emphasis-color);
  color: var(--parchment-bg);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--hover-color);
}

button:disabled {
  background-color: var(--button-disabled-bg-color);
  color: var(--button-disabled-color); /* default to dark gray if not defined */
  cursor: not-allowed;
}
