
card-challenge {
  background-color: var(--card-bg-color);
  width: var(--component-width);
}

card-challenge h3 {
  font-weight: 500;
  color: var(--h3-color);
}

card-challenge .challenge,
card-challenge .rewards {
  flex-wrap: wrap;
}