
image-pawn >span {
  font-size: var(--pawn-size);
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
}

image-pawn > :nth-child(1) {

}

image-pawn > :nth-child(2) {

}


image-pawn[type="red"] > b {
  color: var(--color-red);
}

image-pawn[type="green"] > b {
  color: var(--color-green);
}

image-pawn[type="blue"] > b {
  color: var(--color-blue);
}