/* Global Styles */
@import url("./colors.css");
@import url("./button.css");
@import url("./utils.css");

/* Custom Element Styles */
@import url("./card-challenge.css");
@import url("./player-info.css");
@import url("./player-hand.css");
@import url("./image-pawn.css");
@import url("./list-pond.css");
@import url("./modal-challenge.css");
@import url("./image-reward.css");
@import url("./game-dialog.css");

/* Other */
@import url("./player-list.css");