/* Global Styles */
@import url("./colors.css");
@import url("./panels.css");
@import url("./utils.css");

/* Custom Element Styles */
@import url("./dice-list.css");
@import url("./dice-icon.css");
@import url("./scenario-picker.css");
@import url("./panel-card.css");
@import url("./panel-player.css");
@import url("./panel-opponent.css");
@import url("./panel-info.css");



body > * {
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fafafa;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



button {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: var(--button-bg-color);
  color: var(--button-color);
  cursor: pointer;
  transition: background-color 0.2s;
  font-weight: 600;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

button:disabled {
  background-color: var(--button-disabled-bg-color);
  color: var(--button-disabled-color); /* default to dark gray if not defined */
  cursor: not-allowed;
}

