/* Global Styles */
@import url("./colors.css");

/* Custom Element Styles */
@import url("./dice-icon.css");
@import url("./scenario-picker.css");
@import url("./scenario-card.css");



body > * {
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fafafa;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#elmScenarioPicker, #elmScenarioCard {
  width: 100%;
}

#elmScenarioPicker {
  display: none;
}
#elmScenarioPicker.--active {
  display: flex;
}


#elmScenarioCard {
  display: none;
}
#elmScenarioCard.--active {
  display: flex;
}
