[is="modal-challenge"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: var(--parchment-bg);
  border: 3px solid var(--dark-border);
  border-radius: 8px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
  color: var(--text-color);
}

[is="modal-challenge"] h2 {
  display: flex;
  align-items: center;
}
[is="modal-challenge"] h2 .card-name {
  padding-left: 1em;
}

[is="modal-challenge"] p {
  font-size: 1.1em;
  line-height: 1.5;
  text-align: justify;
  margin-bottom: 1em;
}

[is="modal-challenge"] .pawn-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5em;
}

[is="modal-challenge"] .pawn-input {
  flex: 1;
  text-align: center;
}

[is="modal-challenge"] .modal-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1em;
}

[is="modal-challenge"] button {
  font-size: 1.3em;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

[is="modal-challenge"] button:hover {
  background-color: var(--hover-color);
  transform: scale(1.05); 
}

[is="modal-challenge"] .roll-result {
  margin-top: 1em;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}


[is="modal-challenge"] image-reward {
  margin: 0 0.5em;
  transition: transform 0.5s;
}

[is="modal-challenge"] image-reward:hover {
  transform: scale(1.1);
}

[is="modal-challenge"] .card-rewards {
  display: flex;
}

/*
 * States
 */

[is="modal-challenge"].rolled .pre-roll,
[is="modal-challenge"] .post-roll,
[is="modal-challenge"] .post-roll .result-win,
[is="modal-challenge"] .post-roll .result-lose {
  display: none;
}

[is="modal-challenge"].rolled .post-roll,
[is="modal-challenge"].rolled.win .post-roll .result-win,
[is="modal-challenge"].rolled.lose .post-roll .result-lose,
[is="modal-challenge"] .pre-roll {
  display: flex;
  flex-direction: column;
}
