panel-card {
}

panel-card h2 {
  margin-top: 0;
  color: #333;
  font-size: 24px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

panel-card p {
  font-size: 16px;
  color: #555;
  line-height: 1.4;
  margin: 20px 0;
}

panel-card .match {
  padding: 15px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
}

panel-card .match dt {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: #444;
}

panel-card .match dd {
  margin: 0;
  font-size: 16px;
  color: #666;
}

panel-card .dice-list {
  display: flex;
  gap: 10px;
  /* space between dice */
  margin-top: 10px;
}

panel-card .dice-results {
  margin: 20px 0;
}