[is="player-hand"] {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  border: none;
  border-radius: 10px;
  width: 90vw; 
  padding: 2em;
  background: none;
}

[is="player-hand"]::backdrop {
  background: rgba(0, 0, 0, 0.7);
}

/* Stacking the cards and handling hover effects */
[is="player-hand"] > div {
  margin: 0 -4%;
  transform: scale(0.85);
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 1; /* default z-index for all cards */
}

[is="player-hand"] >:nth-child(1) {
  z-index: 1;
}

[is="player-hand"] >:nth-child(2) {
  z-index: 2;
}

[is="player-hand"] >:nth-child(3) {
  z-index: 3;
}

[is="player-hand"] > div:hover {
  transform: translateY(-10px) translateZ(10px) scale(1.2);
  z-index: 4;
}

[is="player-hand"] .rules {
  margin-top: 2em;
  text-align: center;
  font-style: italic;
  color: #7f8c8d; /* Soft gray for the rules to make it distinct yet subtle */
}