player-info {
  background-color: var(--card-bg-color);
  width: var(--component-width);
}

player-info h2 {
  font-weight: 600;
  color: var(--h2-color);
}

player-info h3 {
  font-weight: 500;
  color: var(--general-color);
}

player-info .item-list {
  list-style-type: square;
  padding-left: var(--padding-list);
  color: var(--general-color);
}

player-info .item-list li {
  margin-bottom: 8px;
}

player-info .pawn-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding-left: 25%;
}