.scenario-dropdown {
  border: 1px solid #ccc;
  width: 250px;
  position: relative;
  cursor: pointer;
}

.scenario-dropdown .option > .description {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    opacity: 0;
}

.scenario-dropdown .option.expanded > .description {
    max-height: 100px; /* You might need to adjust this based on content size */
    opacity: 1;
}

.scenario-dropdown .option button {
    margin-top: 5px;
}