
.component-box {
  display: block;
  border: 1px solid var(--border-color);
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  margin: 16px auto;
}

.center-text {
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-gap-8 {
  gap: 8px;
}
.gap-1 {
  gap: 1em;
}

.mt-0 {
  margin-top: 0;
}

.w-5 {
  width: 5em;
}